*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
   
}
.card{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 1rem;
  gap: 1rem;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 300px;
 
 
}
h2{
    font-size: 20px;
}
span{
    font-size: 25px;
    font-weight: bold;
    
    
}
li{
    list-style: none;
    font-size: 13px;
    padding: 5px;
}
p{
    font-size: 13px;
}
a{
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 10px;
    text-align: center;
    height: 35px;
    padding-top: 5px;
    color: blue;
    font-weight: bold;
}
.card:hover a{
    background-color: rgb(28, 28, 180);
    color: white;
}
.card:hover{
    border: 1px solid blue;
}
.card:hover h2{
    color: blue;
}