.footer {
  padding: 20px 0 53px;
  color: #878787;
  background-color: #494949;
}

.links {
  padding: 0;
  color: #c4c4c4;
  list-style: none;
}

.links > * {
  display: inline-block;
  line-height: 1.64;
}

.links > :not(:last-child) {
  margin-right: 30px;
}

.info {
  padding: 0;
  margin-bottom: 36px;
  list-style: none;
}

.info > * {
  display: inline-block;
  line-height: 1.64;
}

.info > :not(:last-child) {
  margin-right: 30px;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.sns :not(:last-child) {
  margin-right: 13px;
}

.logo {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff')
    format('woff');
  font-weight: 550;
  font-style: normal;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.logo > span {
  background-color: #878787;
  color: #515151;
  padding: 0 3px;
  margin-right: 2px;
}
