<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 class="head">Food Easy</h1>
    <div class="gallery">
        <div class="gallery-item">
            <img src="1.jpeg" alt="">
        
        <h2>황금빛 여름열매,코리안 멜론</h2>
        <p>용암참외,미니참외,반전참외</p>
        </div>
    
        <div class="gallery-item">
            <img src="2.jpeg" alt="">
        
        <h2>황금빛 여름열매,코리안 멜론</h2>
        <p>용암참외,미니참외,반전참외</p>
        </div>

        <div class="gallery-item">
            <img src="3.jpeg" alt="">
        
        <h2>황금빛 여름열매,코리안 멜론</h2>
        <p>용암참외,미니참외,반전참외</p>
        </div>
    </div>
    <btn class="btn">Food Essay 전체보기</btn>
    

</body>

</html>