.map2 {
    padding: 20px;
}

.address_img1 p, 
.address_img2 p, 
.address_img3 p,
.address_img4 p, 
.address_img5 p, 
.address_img6 p {
    text-align: center;
}

.address {
    text-align: center;
    color: aquamarine;
    margin-bottom: 30px;
}

.address_main{
    overflow: hidden;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.address_main img {
    border-radius: 10%;
    width: 450px;
    box-shadow: 2px 2px 20px #ccc;
    cursor: pointer;
}

.address_img1 img, 
.address_img2 img, 
.address_img3 img,
.address_img4 img, 
.address_img5 img, 
.address_img6 img {
    transition-duration: 1s;
}

.address_img1:hover img, 
.address_img2:hover img, 
.address_img3:hover img,
.address_img4:hover img, 
.address_img5:hover img, 
.address_img6:hover img {
    transform: scale(1.02, 1.02);
    transition-duration: 0.5s;

}

.modal_1,
.modal_2,
.modal_3,
.modal_4,
.modal_5,
.modal_6 {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_m {
    display: flex;
}

.modal_img {
    width: 250px;
    height: 200px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
    color: white;
}

.list li {
    margin-bottom: 10px;
}

.modal_title {
    text-align: center;
    color: white;
    margin-top: 20px;
}