* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #111;
    font-size: 15px
}

#nav {
    text-align: center
}

#nav>ul {
    display: inline-block
}

#nav>ul li {
    float: left;
    padding: 0 30px;
    line-height: 80px
}

.logo {
    width: 200px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.head-h {
    font-size: 30px;

}

.container {
    background-color: rgb(235, 235, 235);
    max-width: 100%;
}

.header {
    display: flex;
    gap: 20px;
    margin: 30px;
    padding-top: 20px;
    position: relative;
    top: 0;
    left: 3%;
    z-index: 1;
}
.middle-title {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.icon-list {
    display: flex;
    list-style: none;
    align-items: center;
    width: 400px;
    height: 120px;
    box-shadow: 1px 2px 3px 3px gray;
}

.icon-list li {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}
.m-list {
    display: flex;
    flex-direction: column;
}
.icon-list svg{
    padding-left: 20px;
}
.map {
    display: flex;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 17px;
}

.map-title {
    position: absolute;
    top: 4%;
    left: 60%;
    list-style: none;
    padding: 20px;
    width: 700px;
    height: 450px;
    background-color: white;
    box-shadow: 1px 2px 3px 3px gray;
}

.point {
    color: aquamarine;

}

.sub img{
    width: 700px;
    height: 450px;
    position: relative;
    top: 0;
    left: 10%;
    box-shadow: 1px 2px 3px 3px gray;
}

.map2 {
    padding: 20px;
}

.add3 p {
    text-align: center;
}

.add {
    text-align: center;
    color: aquamarine;
    margin-bottom: 30px;
}

.add2 {
    overflow: hidden;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.add2 img {
    border-radius: 10%;
    width: 450px;
    box-shadow: 2px 2px 20px #ccc;
    cursor: pointer;
}
.add3 img{
    transition-duration: 1s;
}
.add3:hover img {
    transform: scale(1.02, 1.02);
    transition-duration: 0.5s;
    
  }
.modal {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_m {
    display: flex;
}

.modal_img {
    width: 250px;
    height: 200px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
    color: white;
}

.list li {
    margin-bottom: 10px;
}

.modal_title {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.bottom {
    text-align: center;
}

.icon {
    width: 100px;
    height: 100px;
}

@media (max-width:1024px) {
    
}