*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.container{
    display: flex;
    /* flex-wrap: wrap; */
    background-color: rgb(241, 189, 120);
    height: 100vh;
    align-items:center;
    flex-direction: column-reverse;
    /* column은 주축의 진행방향=가로는 세로로 바꾼다 */
    /* flex 주축의 방향은 기본 값이 row */
}
.box{
    flex-basis: calc(100%/3);
    flex-grow: 1;
    background-color: aqua;
    
}
.box:nth-child(2){
    flex-grow: 2;
    background-color: rgb(18, 109, 109);
}
.box:nth-child(3){
    background-color: rgb(38, 226, 226);
}
.box:nth-child(4){
    background-color: rgb(12, 59, 59);
}
.box:nth-child(5){
    background-color: rgb(53, 112, 112);
}
.box:nth-child(6){
    background-color: rgb(46, 190, 190);
   
}
