<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="pic">
        <div class="box"><img src="1.avif" alt=""></div>
        <div class="box"><img src="2.avif" alt=""></div>
        <div class="box"><img src="3.avif" alt=""></div>
        <div class="box"><img src="4.avif" alt=""></div>
        <div class="box"><img src="5.avif" alt=""></div>
        <div class="box"><img src="6.avif" alt=""></div>
        <div class="box"><img src="7.avif" alt=""></div>
    </div>

    
</body>
</html>