.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.box{
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
}