*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
main{
    width: 1005;
    height: 100vh;
}
header{
    background-color: white;
}
.list{
    list-style: none;
    display: flex;
    border-bottom: 1px solid slategray;
    
}
.list-item{
    padding: 1rem;
    cursor: pointer;
}
.list-item:hover{
    background-color: dodgerblue;
    color: white;
}
.list-item:hover .submenu{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.2s ease;
}
.submenu{
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
    position: fixed;
    background-color: white;
    width: 100vw;
    left: 0;
    padding: 2rem;
    top: 54px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    gap: 2rem;
}
.submenu div{
    background-color: rgb(223, 245, 245);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    clip-path: polygon(20% 0, 80% 0, 100% 100%,0% 100%);
    transition: all 0.2s linear;
}
.submenu div:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}